<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>varwatch web application</display-name>
    <servlet>
        <servlet-name>varwatch service</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>com.ikmb.rest</param-value>
        </init-param>
        <!--        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.ikmb.varwatchservice.MyApplication</param-value>
        </init-param>-->
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>varwatch service</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--    <context-param>
        <param-name>config path</param-name>
        <param-value>/data/varwatch/VarWatchService/lib/config_service.txt</param-value>
    </context-param>  -->
    <listener>
        <listener-class>com.ikmb.rest.guice.ServletConfig</listener-class>
    </listener>
    <!--    <listener>
        <listener-class>com.ikmb.varwatchservice.guice.VWServletConfig</listener-class>
    </listener>-->
    <filter>
        <filter-name>guiceFilter</filter-name>
        <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>guiceFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
